// Variaveis de cor
$black:             #333;
$white:             #fff;
$main:              #fec900;
$main2:             #daad00;
$gray1:             #5f5f5f;
$gray2:             #3e3e41;

// Variaveis de fonte
$montserrat:            'Montserrat', sans-serif;